/* imports */
@import "../../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../../bower_components/font-awesome/css/font-awesome.css";
@import "typography.css";
@import "performance.css";
@import "bootstrap-theme.css";

/* variables */
:root {
--status-ongoing: #5cb85c;
--status-tbd: #f0ad4e;
--status-complete: #2aabd2;
}
